[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=sumit
Group=sumit
WorkingDirectory=/app/flaskapp/
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
ExecStart=/usr/bin/uwsgi --ini /app/flaskapp/myproject.ini

[Install]
WantedBy=multi-user.target